<div class="container mt-5">
  <ngx-spinner size="large" color="#333" type="cog"></ngx-spinner>
  <div class="row">
    <app-add-edit-post-form class="col col-6 mb-3" (addNewPostData)="onSubmit($event)" (editPostData)="onEdit($event)"></app-add-edit-post-form>
    <!-- /. app-add-edit-post-form -->
    <app-post-item class="col col-6 mb-3" *ngFor="let post of posts" [post]="post" (deletePost)="onDelete($event)" (getPostComments)="onShowComments($event)"></app-post-item>
    <!-- /. app-post-item -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
